body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
}

h1, h2 {font-family: 'Freckle Face', cursive;
}

header{

	padding: 47px;
	text-align: center;
	background-color: #000000;
}

header h1{
	font-size: 57px;
	color: #FF8000;
}

header p{
	color: #ffffff;
	font-size: 34px;
}
header img{
	border-radius: 250px;
	width: 300px;
	border: 5px solid #ffffff;

}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
		padding: 20px 0;
}

h2 {
	font-size: 34px;
	color: #0040FF;
}

a {
	color: #FF8000;
}
a:hover {
	color: #ffffff;
	background-color: #0040FF;
}

footer{
	background-color: #FF8000;
	text-align: center;
	color: white;
}
footer p{margin: 0;
}

footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}